.nome {
  text-align: center;
}

.imagem {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
}

.imagem img {
  border-radius: 5%;
  width: 400px;
  height: 400px;
}

.item-magia {
  width: 100%;
}

.captions {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

.tables {
  display: flex;
}

.trImpar {
  background-color: #eee;
}

.item, .magia {
  width: 100%;
  font-size: 17px;
}

.modal-container {
  position: absolute;
  display: table;
  z-index: 1;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7);
}

.moda {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

.modal-titulo {
  font-size: 1.7em;
}

.modal-texto {
  font-size: 1.5em;
}

@media only screen and (max-width: 450px) {

  .imagem {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  .imagem img {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .modal-container {
      height: 100vh;
      position: fixed;
  }

  .modal-titulo {
    font-size: 1em;
  }

  .modal-texto {
    font-size: 1em;
  }
}
